<tr>
  <td> <%= time_cost.time %> </td>
  <td> <%= time_cost.cost %> </td>
  <td>
    <%= link_to t("booking.edit"),"#", class: "btn btn-primary" %>
    <%= link_to t("booking.delete"), "#", class: "btn btn-danger" %>
  </td>
</tr>
